# Android
.gradle/
/build/
/local.properties
/captures/
.externalNativeBuild/
.cxx/

# IDE - IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# OS specific
.DS_Store
Thumbs.db

# Security / Signing
*.jks
*.keystore
*.p12
google-services.json

# Build output
/app/build/
/app/release/

# Project exclude paths
/tool/build/
/work/
/data/*
!/data/prepare.bat
